*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
}

.app {
  display: grid;
  grid-template:
    "header header" 5rem
    "leftMenu main" 1fr
    "footer footer" 5rem/
    0.3fr 0.7fr;
}

/* home-container */
.home-container {
  grid-area: main;
  z-index: 1;
}

/* Main HomePage Styling*/
.homepage-main {
  display: grid;
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.1fr;
  margin-top: 4rem;
  margin-right: 4rem;
}

.top-pokemon-list,
.categories-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.pokemon-rating-img {
  height: 15rem;
  margin-top: 1.5rem;
  background-color: #efe9f4;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1),
    0 1rem 1rem 0 rgba(14, 30, 37, 0.12);
}

.categories-section {
  margin-top: 2rem;
  margin-bottom: 6rem;
  background-color: #efe9f4;
  padding: 2rem;
  box-shadow: 0 0 0 0px rgb(255 255 255 / 10%),
    0 1rem 1rem 0 rgb(14 30 37 / 12%);
  border-radius: 1rem;
  background-color: #ededed;
}

.categories-section h3 {
  margin-bottom: 1rem;
  color: #000;
  font-size: 1.8rem;
}

section {
  margin-bottom: 2rem;
}

.rate-your-pokemon-container {
  color: white;
  background-image: url("/public/assets/pokemon/background2.jpg");
  background-position: 20% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.1),
    0 1rem 1rem 0 rgba(14, 30, 37, 0.12);
}
.rate-your-pokemon-title {
  font-size: 2rem;
}

.start-your-own-post {
  background-image: url("/public/assets/pokemon/background.jpg");
  background-position: 20% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.1),
    0 1rem 1rem 0 rgba(14, 30, 37, 0.12);
}

.start-your-own-post-title {
  font-size: 2rem;
}

/* main page styleing */
.categories-list {
  display: flex;
  gap: 1rem;
}

.categories-list-item img {
  margin-bottom: 1rem;
  width: 6rem;
  min-height: 5rem;
  filter: saturate(500%) contrast(80%) brightness(200%) invert(50%) sepia(450%)
    hue-rotate(450deg);
}

.categories-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 12rem;
  cursor: pointer;
}
