.forum {
	grid-area: main;
	display: flex;
	flex-direction: column;
}
.forum-container {
	width: 80%;
	margin: 3rem;
	/* background-color: #c3c3c3; */
	background-color: #e6e6e6;
	/* color: #fff; */
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	border: 0;
}

.card {
	display: flex;
	gap: 2rem;
	padding: 1rem;
}

.card-text {
	width: 59rem;
}

.card-header-title,
.card-header-text {
	margin-bottom: 1rem;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-user {
	display: flex;
	align-items: center;
}
.comment-cards {
	background-color: #f4f4f4;
	padding: 1rem;
	border-radius: 1rem;
	margin: 1rem;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1),
		0 2px 4px 0 rgba(14, 30, 37, 0.12);
	border: 0;
}
.card-user-img,
.comment-user-img {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	margin-right: 1rem;
}
.card-username-link {
	padding-left: 5px;
}

.card-user-time {
	margin-right: 1rem;
}

.card-user-show {
	text-decoration: underline;
	cursor: pointer;
}

.comment-user {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	gap: 5px;
}
.comment-card {
	margin-bottom: 1rem;
}
.card-user-name {
	margin-right: 1rem;
}

.card-comment {
	display: flex;
	font-size: 1rem;
}

.card-comment-icon {
	margin-right: 1rem;
	cursor: pointer;
	display: flex;
	gap: 3px;
}
.card-vote {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
}
.card-comment-vote {
	display: flex;
	gap: 4px;
}
.card-vote-up,
.card-vote-num {
	padding-bottom: 5px;
}
.card-comment-footer {
	display: flex;
	justify-content: space-between;
	width: 27rem;
}
.card-vote-up,
.card-vote-down {
	cursor: pointer;
}

.comment-icon {
	padding-right: 5px;
	cursor: pointer;
}

.comment-form-container {
	padding: 1rem;
	margin-bottom: 1rem;
}
.comment-form {
	display: grid;
	grid-template-rows: 2fr 1fr;
	width: 95.7%;
}
.textarea {
	margin-left: 3rem;
	padding: 1rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	outline: none;
	border-top: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: none;
	width: 95.7%;
	height: 7rem;
}

.group-btn {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
	width: 95.7%;
	background-color: #f3f2f2;
	margin-left: 3rem;
	padding: 14px 0;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.group-btn button {
	width: 5rem;
	font-size: 1rem;
}

.group-btn-cancel {
	background-color: transparent;
	border-radius: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
}

.group-btn-cancel:hover {
	background-color: rgb(206, 206, 206);
	padding: 2px 4px;
	border-radius: 1.5rem;
}

.group-btn-reply {
	cursor: pointer;
	border-radius: 1.5rem;
	margin-right: 1rem;
	outline: none;
	background-color: rgb(206, 206, 206);
	border: none;
	padding: 2px 4px;
}

.create-post-container{
	display: flex;
	flex-direction: column;
	margin: 3rem 3rem 0 3rem;
	width: 80%;
}


.create-post-user-btn{
	width: 100%;
	padding: 1rem;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
	font-size: 1.4rem;
}

.create-post-form{
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	background-color: #e6e6e6;
	padding: 1rem;
	border-radius: 5px;
}

.create-post-form input{
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	outline: none;
	border: 1px solid #999999;
}
.post-form-textarea{
    padding: 1rem;
    outline: none;
    border: 1px solid #999999;
    width: 100%;
    height: 7rem;
	border-radius: 5px;
}

.create-post-category{
	width: 8rem;
	margin: 1rem 0;
}

.submit-post-btn,
.save-post-btn{
	width: 5rem;
	font-size: 1.2rem;
	cursor: pointer;
    border-radius: 1.5rem;
    outline: none;
    background-color: rgb(206, 206, 206);
    border: none;
    padding: 2px 4px;
}

.save-post-btn{
	background-color: #fff;
	border: 1px solid #999999;
}

.group-post-btn{
	display: flex;
	gap: 5px;
	justify-content: flex-end;
}